<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label for="employeeName" class="form-label">Department Name</label>
              <input type="text" class="form-control" [(ngModel)]="depObj.employeeName" name="employeeName" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="employeeAge" class="form-label">Department No</label>
                <input type="text" class="form-control" [(ngModel)]="depObj.employeeAge" name="employeeAge" autocomplete="off">
              </div>         
            <div>
                <button type="button" class="btn btn-primary" (click)="saveUser()">Add</button>
                <button type="button" class="btn btn-primary button" [routerLink]="['/department']">Back</button>
            </div>  
          </form>
    </div>
</div>
