<h1 style="text-align: center;">Employee Details</h1>
<input type = "text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search by name or age" class="search">
<button type="button" class="btn btn-primary button" [routerLink]="['/addemployee']">Add Employee</button>
<br>
<table class="table mt-2">
    <thead>
      <tr>
        <!-- <th scope="col">S.No</th> -->
        <th scope="col">Employee Name</th>
        <th scope="col" (click)="sort()">EmployeeAge</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empList | filter: searchText | paginate:{itemsPerPage:3, currentPage:p}">
        <!-- <td>{{emp.id}}</td> -->
        <td>{{emp.employeeName}}</td>
        <td>{{emp.employeeAge}}</td>
        <td>
          <button type="button" class="btn btn-success" [routerLink]="['/employeeupdate',emp.id]">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(emp.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </table>
     
<router-outlet></router-outlet>
